<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Teen Build Up</title>
            <link rel='shortcut icon' href = "https://user-images.githubusercontent.com/76495035/129419811-0420e1de-17ab-4392-bf16-76a28bf18781.png" type = "image/png">
              {% load bootstrap4 %}
              {% bootstrap_css %}
              {% bootstrap_javascript jquery='full' %}
        </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
          <img src="https://user-images.githubusercontent.com/76495035/129419811-0420e1de-17ab-4392-bf16-76a28bf18781.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Teen Build Up
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <form class="form-inline">
            <div class="nav-item dropdown ml-3">
              <a class="nav-link dropdown-toggle text-dark" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search for Opportunities
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-dark" href="/searchforstartups/">Search for Start-Ups</a>
                <a class="dropdown-item text-dark" href="/searchforclubs/">Search for Club</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Search for Events</a>
              </div>
            </div>
            <a class="nav-link mr-2 ml-2 text-dark" href="/post/">Post</a>
            <a class="nav-link mr-2 ml-2 text-dark" href="/myposts/">My Posts</a>
            <a class="nav-link mr-2 ml-2 text-dark" href="/following/">Following</a>
            <a class="nav-link mr-2 ml-2 text-dark" href="/popular/">Popular</a>
            <a class="nav-link mr-2 ml-2 text-dark" href="/profile/">Profile</a>
            <a href='/sign-out' class="btn btn-outline-primary ml-2">Sign Out</a>
        </form>
    </nav>
    <br><br>
            <div class="row">
              <div class="col-lg-4" style="margin-left:50px">
                <b class="text-secondary text-dark" style="font-size:25px">Post A Start-Up/Club/Event</b><br><br>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <p class="text-secondary text-dark" style="font-size:20px">Information</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form_errors post_form %}
                            <p class="text-secondary text-dark" style="font-size:18px">Email</p>
                            <input type="text" class="form-control" placeholder={{request.user.email}} disabled><br>
                            {% bootstrap_label "Name of Organization" %}
                            {% bootstrap_field post_form.name_of_organization show_label=False placeholder="" %}
                            {% bootstrap_label "Type of Organization" %}
                            {% bootstrap_field post_form.organization show_label=False placeholder="" %}
                            {% bootstrap_field post_form.interest %}
                            {% bootstrap_label "Website Link" %}
                            {% bootstrap_field post_form.website show_label=False placeholder="Enter One Link" %}
                            {% bootstrap_label "Area (City or County)" %}
                            {% bootstrap_field post_form.area show_label=False placeholder="" %}
                            {% bootstrap_field post_form.communication %}
                            {% bootstrap_label "What do you do? (Include Organization Name)" %}
                            {% bootstrap_field post_form.description show_label=False placeholder="" %}
                            {% bootstrap_label "What are you looking for? (orders, volunteers, etc.) What opportunities do you offer?" %}
                            {% bootstrap_field post_form.looking show_label=False placeholder="(ex. Publishing Opportunity: We are inviting you to submit your best articles about recent topics to possibly be published on the website by June 30, 2021!" %}
                            {% bootstrap_label "Update (Optional)" %}
                            {% bootstrap_field post_form.update show_label=False placeholder="(ex. Meetings, Event, etc.)" %}
                            {% bootstrap_label "Recent Event Description (Optional)" %}
                            {% bootstrap_field post_form.recentevent show_label=False placeholder="" %}
                            <input type="hidden" name="step" value="1">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
  <footer class="text-center mt-5 mb-5">
    &copy; 2021, Teen Build Up
  </footer>
  </body>
 </html>